# Secret & Sensitive Data
*.env
.env.*
secrets.*
*.pem
*.key
id_rsa*

# Node / Web App
node_modules/
dist/
.vite/
npm-debug.log*

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store

# Logs & Temporary files
*.log
logs/
tmp/
