<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Backend</key>
	<string>QEMU</string>
	<key>ConfigurationVersion</key>
	<integer>4</integer>
	<key>Display</key>
	<array>
		<dict>
			<key>Hardware</key>
			<string>virtio-gpu-gl-pci</string>
			<key>DynamicResolution</key>
			<true/>
			<key>NativeResolution</key>
			<true/>
			<key>UpscalingFilter</key>
			<string>Linear</string>
			<key>DownscalingFilter</key>
			<string>Linear</string>
		</dict>
	</array>
	<key>Drive</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>disk-0</string>
			<key>Interface</key>
			<string>VirtIO</string>
			<key>ImageName</key>
			<string>disk-0.qcow2</string>
			<key>ReadOnly</key>
			<false/>
		</dict>
	</array>
	<key>Information</key>
	<dict>
		<key>Name</key>
		<string>Kali Linux Offensive Security</string>
		<key>Notes</key>
		<string>Kali Linux VM for Offensive Security, Penetration Testing, and SOC Detection Engineering. Credentials: Stefanut / Stefanut005 (or kali / kali)</string>
		<key>IconCustom</key>
		<false/>
	</dict>
	<key>Network</key>
	<array>
		<dict>
			<key>Hardware</key>
			<string>virtio-net-pci</string>
			<key>Mode</key>
			<string>Shared</string>
			<key>PortForward</key>
			<array>
				<dict>
					<key>GuestPort</key>
					<integer>22</integer>
					<key>HostPort</key>
					<integer>2222</integer>
					<key>Protocol</key>
					<string>TCP</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Sound</key>
	<array>
		<dict>
			<key>Hardware</key>
			<string>intel-hda</string>
		</dict>
	</array>
	<key>System</key>
	<dict>
		<key>Architecture</key>
		<string>aarch64</string>
		<key>CPUCount</key>
		<integer>2</integer>
		<key>Memory</key>
		<integer>4096</integer>
		<key>Target</key>
		<string>virt</string>
		<key>JITCacheSize</key>
		<integer>0</integer>
		<key>UseHypervisor</key>
		<true/>
		<key>ForceMulticore</key>
		<true/>
	</dict>
</dict>
</plist>
