# GitHub Linguist Language Overrides
*.ts linguist-language=TypeScript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.py linguist-language=Python
*.sh linguist-language=Shell
*.ps1 linguist-language=PowerShell
*.asm linguist-language=Assembly
*.tf linguist-language=HCL
*.yml linguist-language=YAML
*.yaml linguist-language=YAML

# Exclude vendored or generated folders from GitHub language bar
web/public/icons/** linguist-vendored
web/dist/** linguist-vendored
*.lock linguist-generated
