extends: default

rules:
  line-length: disable
  document-start: disable
  truthy: disable
  brackets: disable
  braces: disable
  trailing-spaces: disable
  empty-lines: disable
  indentation: disable
