{
  "log-driver": "{{ docker_log_driver | default('json-file') }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size | default('20m') }}",
    "max-file": "{{ docker_log_max_file | default('3') }}"
  },
  "storage-driver": "{{ docker_storage_driver | default('overlay2') }}",
  "live-restore": true,
  "userland-proxy": false,
  "no-new-privileges": true
}
