# Managed by Ansible - CyberLab Hardened SSH Configuration
Port {{ ssh_port }}
Protocol 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

# Authentication
PermitRootLogin {{ ssh_permit_root_login }}
PubkeyAuthentication yes
PasswordAuthentication {{ ssh_password_authentication }}
PermitEmptyPasswords no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
UsePAM yes
MaxAuthTries {{ ssh_max_auth_tries }}
MaxSessions 4
LoginGraceTime 30

# Cryptography & Key Exchange
Ciphers {{ ssh_ciphers }}
MACs {{ ssh_macs }}
KexAlgorithms {{ ssh_kex_algorithms }}

# Session & Network
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
ClientAliveInterval 300
ClientAliveCountMax 2
TCPKeepAlive yes
Compression no
LogLevel VERBOSE
Subsystem sftp /usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO
