---
extends: default

rules:
  line-length:
    max: 200
    level: warning
  truthy:
    level: error
  comments:
    min-spaces-from-content: 1
  document-start: disable
  braces:
    max-spaces-inside: 1
    level: warning
